<div align="center">

  <h2>Twitter URL to screenshot</h2>

  <form action="/screenshot" method="POST">
    <span>Tweet url: </span><input type="text" name="url" /><input type="submit" value="Submit" />
  </form>
  <p>(It may take a few seconds)</p>
</div>
