<div align="center">
  <h1>Success!</h1>
  <p>Here's your screenshot: </p>
  <p>(Right-click save as or use <a href="{{filepath}}">direct link</a>)</p>
  <img src="{{filepath}}" />
  <p><a href="/">HOME</a></p>
</div>
